<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,minimum-scale=0.6,maximum-scale=0.6,initial-scale=0.6"/>
    <title>e瞳网二次招新_部门介绍</title>
    <link rel="stylesheet" href="__PUBLIC__/css/e_yingxin_2.css">
    <script type="text/javascript">
        var rootUrl = "__PUBLIC__"
    </script>
    <script src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>
    <script src="__PUBLIC__/js/e_yingxin_2.js"></script>
</head>
<body>
    <div id="background"><img src="__PUBLIC__/images/pic2.png" alt=""></div>
    <div id="title2"><img src="__PUBLIC__/images/title2.png" alt=""></div>
    <div class="department" id="ul_1">运营部门<img id="pic1" src="__PUBLIC__/images/bottom.png" alt=""></div>
    <ul>
        <li>
            <h3>市场部</h3>
            <div>&nbsp;&nbsp;&nbsp;&nbsp;e瞳网市场部，主要负责社团的对外沟通、内部的活动组织、网站的线下工作。如果你希望在这里发挥或学习组织、协调、管理的能力，同时收获珍贵友谊，请加入我们！</div>
        </li>
        <li>
            <h3>项目部</h3>
            <div>&nbsp;&nbsp;&nbsp;&nbsp;e瞳网项目部承担着网站重要的运营任务和产品策划工作，在这里每一个人将自己的互联网设想转化为成果，收获对互联网的深层次理解。我们欢迎每一位有责任感，有创造力的部员，一同在项目部实现你的大学理想。</div>
        </li>
    </ul>
    <div class="department" id="ul_2">信息部门<img id="pic2" src="__PUBLIC__/images/bottom.png" alt=""></div>
    <ul>
        <li>
            <h3>新闻部</h3>
            <div>&nbsp;&nbsp;&nbsp;&nbsp;从任务专访中感悟交大的灵魂内涵，在活动新闻里领略交大的缤纷色彩，随调查新闻一同追逐校园里的暗潮涌动。在这里，读懂交大！</div>
        </li>
        <li>
            <h3>影视部</h3>
            <div>&nbsp;&nbsp;&nbsp;&nbsp;翱翔天际，在宇宙中可摘星辰，影视部的后期制作带你进入梦幻的特效世界，拍下流星划过的壮丽，摄下大地苍茫的雄奇，影视部的专业拍摄教你展现唯美画面。</div>
        </li>
        <li>
            <h3>新媒体部</h3>
            <div>&nbsp;&nbsp;&nbsp;&nbsp;再小的自媒体也会有自己的时代，在这里，我们以微信为剑，以互联网为船，乘风破浪。只要你想，只要你来，你，就是下一个头条。</div>
        </li>
        <li>
            <h3>公关部</h3>
            <div>&nbsp;&nbsp;&nbsp;&nbsp;我们负责旗下西交V世界微信公众平台的日常运营，努力打造一个出国交流综合信息平台，做交大看世界的第三只眼。如果你喜欢微信平台运营，有生花的妙笔和深刻的思想，请不要错过我们。</div>
        </li>
    </ul>
    <div class="department" id="ul_3">技术部门<img id="pic3" src="__PUBLIC__/images/bottom.png" alt=""></div>
    <ul>
        <li>
            <h3>前端美工组</h3>
            <div>&nbsp;&nbsp;&nbsp;&nbsp;这里有程序猿也有PS大师，这里有码农也有3D模型专家。来到这里，写得了页面，做的了设计；学得了技术，练得了素质。这里是e瞳前台&美工组，欢迎你的到来。</div>
        </li>
        <li>
            <h3>后台Web组</h3>
            <div>&nbsp;&nbsp;&nbsp;&nbsp;我们是网络应用坚实的后盾，php和mysql是我们的武器，linux是我们的阵地，保障网站安全是我们的职责。来这里，让你感受网络世界的风起云涌。</div>
        </li>
        <li>
            <h3>后台App组</h3>
            <div>&nbsp;&nbsp;&nbsp;&nbsp;后台App组隶属于e瞳技术部门，目前专供安卓平台的开发，未来可能引入ios，是e瞳最具发展潜力的部门。</div>
        </li>
        <li>
            <h3>蓝鲸</h3>
            <div>
                西安交大e瞳网与腾讯公司蓝鲸游戏运维中心合作联合培养人才，在这里你不仅能够学习到扎实的web开发技术，更有机会获得腾讯蓝鲸实习机会！
            </div>
        </li>
    </ul>
    <div id="last"><a href="{:U('form')}">
        <div id="enter">加入e瞳</div>
    </a></div>
    <p id="guide">这次，还有一个更神秘的部门等着你哦，快戳👉</p>
    <a href="http://eux.eeyes.net" id="flbtn">加入EUX</a>
</body>
</html>