<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,minimum-scale=0.5,maximum-scale=0.5,initial-scale=0.5"/>
    <title>e瞳网二次招新_招新第一弹</title>
    <link rel="stylesheet" href="__PUBLIC__/css/e_yingxin_1.css">
    <script src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>
    <script src="__PUBLIC__/js/e_yingxin_1.js"></script>
</head>
<body>
    <div id="background"><img src="__PUBLIC__/images/pic1.png" alt=""></div>
    <div id="title1"><img src="__PUBLIC__/images/title1.png" alt=""></div>
    <div id="content">
        <ul>
            <a href="http://mp.weixin.qq.com/s?__biz=MjM5MzI1MDYzMw==&mid=208206329&idx=1&sn=72e73acfb5770cd5ec50975a6186477c&scene=4#wechat_redirect">
                <li class="border_style">新生特辑</li>
            </a>
            <a href=" http://mp.weixin.qq.com/s?__biz=MjM5MzI1MDYzMw==&mid=208237939&idx=1&sn=82b1782a46d7247bed5d372a4798e41f&scene=4#wechat_redirect">
                <li class="border_style">军训提要</li>
            </a>
            <a href="http://mp.weixin.qq.com/s?__biz=MjM5MzI1MDYzMw==&mid=208206329&idx=3&sn=1ab8e52e8290af24b7621d35006b151e&scene=4#wechat_redirect">
                <li class="border_style">学长带你飞视频</li>
            </a>
            <a href="http://mp.weixin.qq.com/s?__biz=MjM5MzI1MDYzMw==&mid=208206329&idx=2&sn=4de461a5ac06ad889bfc8ee73dbfd447&scene=4#wechat_redirect">
                <li>交通购物全攻略</li>
            </a>
        </ul>
    </div>
    <a href="{:U('department')}">
        <div id="department">部门介绍</div>
    </a>
    <div id="last"><a href="{:U('form')}">
        <div id="enter">我就要直接报名</div>
    </a></div>
</body>
</html>